PORT=3000
LOG_LEVEL=ERROR
LOG_PRETTY=true

# Telemetry
TELEMETRY_ENABLED=false
TELEMETRY_GRPC_URL=http://localhost:4317

# Attestation Cache
TELEMETRY_ENABLED=false
ATTESTATION_CACHE_URL=redis://localhost:6379/0

# Project Registry
PROJECT_REGISTRY_URL="https://registry-staging-cf.walletconnect.com"
PROJECT_REGISTRY_AUTH_TOKEN="See 1Password: cloudflare-workers/prod/internal-api-auth-token"
PROJECT_REGISTRY_CACHE_URL=redis://localhost:6379/1
TEST_PROJECT_ID="Create one on https://wc-cloud-staging.vercel.app"

SECRET="See 1Password: prod-bouncer-secret"

# Terraform
GRAFANA_AUTH=
